# Vercel Postgres Connection String
POSTGRES_PRISMA_URL="postgres://default:xxx@ep-xxx.pooler.vercel-storage.com:5432/verceldb?sslmode=require&pgbouncer=true"
POSTGRES_URL_NON_POOLING="postgres://default:xxx@ep-xxx.pooler.vercel-storage.com:5432/verceldb?sslmode=require"

# Vercel Blob Token
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xxx"
