# Postgres Database Connection String (Transaction mode or Session mode)
DATABASE_URL="postgres://postgres.xxx:password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"

# Supabase API Settings
NEXT_PUBLIC_SUPABASE_URL="https://xxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5c..."
